* {
    padding: 0;
    margin: 0;
}

:root{
    --color-pink-vibes: #DE4A66;
    --cor-botao-menu:#DE4A66;
    --color-white: #fff;
    --color-baby-green: #E9FFC7;
    --cor-menu-transicao: #FFEDF0;
    --cor-boxShadow: #BCBCBC7A;
    --botao-adm: #DE4A66;
    --letra-botao-adm: #fff;
}

html[data-theme='dark']{
    --cor-menu-transicao: #471B23;
    --cor-boxShadow: #46464628;
    --botao-adm: #fff;
    --letra-botao-adm: #DE4A66;
    --cor-botao-menu:#fff;
}

.menu{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.2s ease-out;
}

.main-content{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9rem 0.5rem 9rem;
}

.menu h1 img{
    width: 6rem;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    position: relative;
    padding: 3rem;
    font-family: 'Fredoka One', cursive;
    font-size: 1.1rem;
    color: var(--cor-botao-menu);

}

.menuAlterado{
    background-color: var(--cor-menu-transicao);
    box-shadow: 0px 4px 18px 0px var(--cor-boxShadow);
}

.sessao-icon-adm i{
    margin-right: 10px;
    width: 15px;
}

.sessao-icon-adm a{
    font-family: 'Fredoka One', cursive;
    font-size: 1.1rem;
    background-color: var(--botao-adm);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: var(--letra-botao-adm);
    text-decoration: none;
}

.switch-dark-theme{
    display: flex;
    align-items: center;
}

.switch-dark-theme i{
    width: 25px;
    margin: 0px 20px 0px 20px;
    font-size: large;
    color: var(--botao-adm)
}

.switch{
    display: inline-block;
    height: 26px;
    position: relative;
    width: 52px;
}

.switch input{
    display: none;
}

.slider-switch{
    background-color: var(--color-white);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border: 1px solid #ffc7d2;
}

.slider-switch:before{
    background-color: var(--color-pink-vibes);
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider-switch{
    background-color: var(--color-pink-vibes);
}

input:checked + .slider-switch:before{
    transform: translateX(26px);
    background-color: #fff;
}

.slider-switch.round {
    border-radius: 34px;
}


.slider-switch.round:before {
    border-radius: 50%;
}


.carrinho i {
    font-size: 1.3rem;
    color: var(--botao-adm)
}