@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Be+Vietnam+Pro:wght@100;200;300;400;500&family=Fredoka+One&family=Fredoka:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fundo-contato-body: #FFEDF0;
    --muda-rosa-branco: #DE4A66;
    --muda-branco-rosa: #fff;
    --botao-enviar: #fff;
    --botao-enviar-borda: #de4a66;
    --botao-enviar-hover: #fff;
    --botao-cor-hover: #de4a66;
}

html[data-theme='dark']{
    --fundo-contato-body: #702935;
    --muda-rosa-branco: #fff;
    --muda-branco-rosa: #511d26;
    --botao-enviar: #73953c;
    --botao-enviar-borda: #73953c;
    --botao-enviar-hover: #73953c;
    --botao-cor-hover: #fff;
}

body{
    background-color:var(--fundo-contato-body);
    width: 100vw;
}

.divisor{
    height: 140px;
}

.form-contato{
    border: 5px var(--muda-rosa-branco) dashed;
    background-color: var(--muda-branco-rosa);
    width: 90vw;
    margin: auto;
    border-radius: 33px;
    box-shadow: 01px 4px 24px rgba(69, 69, 69, 0.25);
    display: flex;
}
.aba-a{
    width: 45vw;
}

fieldset{
    height: 25em;
    margin-top: 70px;
    border-radius: 20px;
    border: 1px #ffb6c3 solid;
    background-color: #ffb6c3;
}

.aba-b{
    width: 45vw;
}

.conteudo-aba-a{
    width: 75%;
    float: right;
    padding: 100px;
    font-family: 'Fredoka';
}

.conteudo-aba-b{
    width: 80%;
    padding: 90px 130px;
    font-family: 'Fredoka';
    color: var(--muda-rosa-branco);
}

.texto-conteudo-aba-b{
    margin-bottom: 50px;
    color: var(--muda-rosa-branco);
}

.texto-conteudo-aba-b p{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.texto-conteudo-aba-b h2{
    color: #9dc261;
    font-size: 1rem;
}

input{
    width: 80%;
    border: 0;
    border-bottom: 2px solid #d1e5b0;
    padding: 60px 0px 20px 0px;
    font-family: 'Fredoka';
    font-weight: bold;
    font-size: 20px;
    color:#9dc261;
    transition: 0.3s;
    background-color: var(--muda-branco-rosa)
}

input::placeholder{
    font-size: 17px;
    color: var(--muda-rosa-branco);
}

input:focus{
    border: 0px;
    border-bottom: 2px solid #9dc261;
    outline: 0;
}

form{
    margin-bottom: 20px;
}

label{
    color: var(--muda-rosa-branco);
    font-size: 17px;
    font-weight: bold;
}

textarea{
    background-color: var(--muda-branco-rosa);
    border: #d1e5b0 3px solid;
    width: 90%;
    height: 140px;
    margin: 25px 0px 20px 0px;
    transition: 0.3s;
    color: #9dc261;
    font-size: 20px;
    padding: 10px;
    font-style: normal;
    resize: none;
}

textarea:focus{
    outline: 0;
    border: 3px solid var(--muda-rosa-branco);
}

.button-enviar{
    padding: 5px 20px 5px 20px;
    border: solid var(--botao-enviar-borda) 1px;
    background-color: var(--botao-enviar);
    color: var(--muda-rosa-branco);
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Fredoka';
    transition: all 0.3s ease 0s;
    float: right;
    margin-right: 15px;
}

.button-enviar:hover{
    background-color: var(--botao-cor-hover);
    color: var(--botao-enviar-hover);
    border: solid #ECECEC 1px;
}