@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Be+Vietnam+Pro:wght@100;200;300;400;500&family=Fredoka+One&family=Fredoka:wght@400;500;600&display=swap');

main{
    width: 100%;
}

.first-page-title{
    background-color: #B5495D;
    color: #fff;
    height: 70px;
    padding: 15px 0px 15px 35px;
}

.first-page-sessao-cadastro{
    width: 95%;
    margin: 30px;
}

.sessao-produto{
    padding: 0px 0px 1px 30px;
    background-color: #fff;
    box-shadow: 0px 4px 24px rgba(69, 69, 69, 0.25);
    border-radius: 20px;
    margin-bottom: 27px;
}

.espaco-bottom{
    width: 270px;
}

table th{
    color: #B5495D;
    font-weight: 400;
    padding: 20px 160px 10px 10px;
    text-align: left;
}

table td{
    padding: 10px 50px 27px 10px;
    font-size: 1.7rem;
}

input[type="button"]{
    background-color: #923B4B;
    color: #fff;
    border-radius: 40px;
    padding: 7px 15px 5px 15px;
    margin: 20px 0px 20px 30px;
    font-size: 2rem;
    border: 0;
    cursor: pointer;
}

.adiciona-produtos p{
    display: inline;
    margin-left: 20px;
    color: #471B23;
}

.adiciona-produtos{
    cursor: pointer;
}

.NovaTabela {
    width: 95%;
}


.table-th{
    color: #B5495D;
    font-size: 1rem;
    width: 190px;
    font-weight: 400;
    padding: 20px 61px 10px 0px;
    text-align: left;
}

#preco{
    font-size: 1.6rem;
}

.botao_editar{
    background-color: #471B23;
}

#titulo-principal{
    color: #923B4B;
}

#CadastroProdutos{
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 24px rgba(69, 69, 69, 0.13);
}

#CadastroProdutos > input[type="text"]{
    padding: 9px;
    border-color: #923B4B;
    border-radius: 20px;
    font-family: 'Be Vietnam Pro';
    width: 17%;
}

#CadastroProdutos > input[type="number"]{
    padding: 9px;
    border-color: #923B4B;
    border-radius: 20px;
    font-family: 'Be Vietnam Pro';
    width: 17%;
}

#CadastroProdutos > input[type="submit"]{
    padding: 12px 14px;
    background-color: #923B4B;
    border: 0;
    border-radius: 20px;
    margin-left: 40px;
    font-family: 'Be Vietnam Pro';
    color: #fff;
}


#nop{
    margin-left: 0;
}

label{
    margin-left: 40px;
}

.divisor-titulos{
    background-color: #923B4B;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}

.content-titulo-divisor > p {
    display: inline;
    margin-right: 19rem;
    color: #fff;
}

.ProdutoCadastrado{
    margin-top: 30px;
    border: 1px solid #471B23;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.produtinho input{
    border: 0;
    flex: 1 1 0%;
    margin-top: 6px;
    margin-right: 100px;
    font-size: 1.2rem;
    padding: 10px;
}

.botao-editar{
    background-color:cornflowerblue;
    color: #fff;
    border-radius: 10px;
    padding: 9px;
    border: 0px;
    margin-right: 15px;
    font-family: 'Be Vietnam Pro';
}

.botao-excluir{
    background-color:crimson;
    color: #fff;
    border-radius: 10px;
    padding: 9px;
    border: 0px;
    margin-top: 10px;
    margin-right: 3px;
    font-family: 'Be Vietnam Pro';
}

.produtinho > input:not(:read-only){
    color: #923B4B;
    border: 1px solid#B5495D;
}