@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Be+Vietnam+Pro:wght@300;400&family=Fredoka+One&family=Fredoka:wght@400;500;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFADBD;
    font-family: 'Fredoka', sans-serif;
}

:root{
    --color-pink-vibes: #DE4A66;
    --color-white: #fff;
    --color-baby-green: #E9FFC7;
}

.first{
    border-radius: 0px 0px 180px 180px;
    padding-top: 8%;
    background: linear-gradient(116.34deg, #FFDDE4 10.06%, #FFFFFF 96.59%);
    height: 100vh;
}

.img-linha{
    height: 85%;
    padding: 20px 40px 0px 13%;
    margin-top: 3%;
    vertical-align: top;
}

.div-um{
    display: inline-block;
    margin-top: 13.5%;
    font-size: 41%;
    margin-left: 50px;
    width: 51%;
}

.first-content{
    width: 90%;
    display: flex;
    margin: auto;   
}

.first-content-text{
    width: 80%;
}

.div-um > h1{
    color: #DE4A66;
    font-size: 8vh;
    font-family: 'Fredoka One';
}

.div-um > p{
    color: #649800;
    font-family: 'Fredoka';
    font-size: 25px;
    margin-top: 20px;
}

button{
    padding: 5px 15px 5px 15px;
    border: solid #FD879D 1px;
    background-color: #FD879D;
    border-radius: 34.5px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    font-family: 'Fredoka';
    margin-top: 20px;
    height: 40px;
    color: #F9F9F9;
    margin-top: 25px;
}

button:hover{
    background-color: #F9F9F9;
    color: #DE4A66;
    border: solid #FD879D 1px;
}

.img-moranguinho{
    left: 60%;
    top: 10%;
    width: 28%;
}

.div-dois{
    background-color: #FFADBD;
    color: #fff;
    padding-top: 100px;
    text-align: center;
    width: 100%;
    height: 550px;
    font-size: 25px;
}

.div-dois > h4{
    padding-bottom: 30px;
    font-weight: bold;
}

.div-dois > p{
    padding-bottom: 25px;
}

.circulos{
    display: inline-block;
    margin-top: 40px;
    padding-bottom: 90px;
}

.bolos{
    float: left;
}

.bolos > img{
    width: 150px;   
}

.tortas{
    float: left;
    margin-left: 130px;
    margin-right: 130px;
}

.tortas > img{
    width: 150px;
}

.doces{
    float: left;
}

.doces > img{
    width: 150px;
}

.div-tres{
    background-color: #FFF4F4;
    width: 100%;
    border-radius: 78px 78px 0px 0px;
    margin-top: 50px;
}

.title-tres{
    padding-top: 4%;
    width: 45%;
    margin: auto;
}

.title-tres h4{
    background-color: #DE4A66;
    margin: auto;
    border-radius: 47.5px;
    padding: 15px 60px;
    color: #fff;
    font-size: 35px;
    width: 495px;
}

.title-tres p{
    padding: 45px 0px;
    font-size: 25px;
    text-align: center;
}

/* cards produtos */

.title-content-produtos{
    background-color:var(--color-pink-vibes);
    padding: 0.5em 2em 0.5em 2em;
    width: 4.4em;
    margin: auto;
    font-size: 2rem;
    border-radius: 40px;
    font-family: 'Fredoka';
    font-weight: 600;
    color: var(--color-white);
}

.title-conjunto{
    padding: 49px;
}

.title-conjunto p{
    font-family: 'Fredoka';
    padding-top: 40px;
    width: 45.5rem;
    font-size: 1.3rem;
    margin: auto;
}

.filtro-content-produtos{
    padding: 14px 0px 54px 0px;
}

.filtro-content-produtos ul{
    list-style: none;
    display: flex;
    width: 46rem;
    margin: auto;
}

input[type="button"]{
    color: var(--color-pink-vibes);
    background-color: var(--color-white);
    padding: 0.5em 2em 0.5em 2em;
    font-family: 'Fredoka';
    font-weight: 500;
    font-size: 1.2rem;
    border: 1px solid var(--color-pink-vibes);
    border-radius: 30px;
    margin: 0px 20px 0px 20px;
}

input[type="button"]:active{
    background-color: var(--color-pink-vibes);
    color: var(--color-white);
}

.content-produto-section{
    width: 61.5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;

}

.card-produto{
    height: 27em;
    width: 18rem;
    background-color: var(--color-baby-green);
    position: relative;
    border-radius: 15px;
    margin: 20px;
    filter:  drop-shadow(0px 4px 8px rgba(20, 20, 20, 0.15));
}

.info-produto-card{
    background-color: var(--color-white);
    /* background-color: aqua; */
    width: 18rem;
    height: 310px;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    /* margin-top: 90px; */
}

.info-produto-card img{
    width: 100%;
}

.imagem-produto-card{
    position: absolute;
    top: -85px;
    margin: auto;
    left: 7%;
    width: 248px;
    height: 179px;
    overflow: hidden;
}

.info-produto-card-content{
    position: absolute;
    bottom: 25px;
    left: 5.9%;
    text-align: center;
    font-family: 'Be Vietnam Pro';
    /* font-weight: 100; */
}

.info-produto-card input[type="button"]{
    background-color: var(--color-pink-vibes);
    color: var(--color-white);
    padding: 0.3em 1.4em 0.3em 1.4em;
    /* font-size: 1rem; */
    font-weight: 200;
    font-family: 'Be Vietnam Pro';
    margin: 0;
}

.info-produto-card-content h2{
    width: 252px;
    font-weight: 500;
}


.info-produto-card-content h3{
    font-weight: 500;
    font-size: 0.8rem;
    width: 252px;
}

.info-produto-card-content p{
    color: #3A3A3A;
    padding: 20px;
    font-size: 1.6rem;
}

span{
    font-size: 0.9rem;
}

.div-quatro{
    background: linear-gradient(179.04deg, #DBF9AD 1.59%, #EFFFD8 97.91%);
    width: 100%;
}

.title-quatro{
    padding: 4%;
    width: 45%;
    margin: auto;
}

.title-quatro h4{
    color: #fff;
    background-color: #76B301;
    margin: auto;
    border-radius: 47.5px;
    padding: 15px 60px;
    color: #fff;
    font-size: 35px;
    width: 442px;
}

.escrita{
    display:inline-block;
    vertical-align: top;
    margin-left: 8%;
    font-size: 30px;
    width: 66%;
}

.escrita > h4{
    color: #76B301;
    padding-top: 10px;
    padding-bottom: 20px;
}

.escrita > {
    padding-top: 40px;
}

.button-arrow{
    width: 50px;
    height: 50px;
    background-color: #76B301;
    /* box-shadow: 5px 5px 0px #3A3A3A; */
    cursor: pointer;
    border-radius: 34.5px;
    border-color: #76B301;;
}

.button-arrow::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 20px solid transparent;
    border-left:28px solid white;
}
 
.button-arrow::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 20px solid transparent;
    border-left:28px solid white;
}

.box{

    width: 600px;
    height: 500px;
    margin: auto;
    position: relative;
    margin-bottom: 45px;
}

.box-image img{
    position: absolute;
    width: 600px;
    height: 500px;
    animation: anima;
    animation-duration: 800ms;    
}

@keyframes anima{

    from{transform: translate(-50px,00);}
    to{transform: translate(0px,00);}
}

.bolinhas{

    margin-left: 47%;
    margin-top: 5px;
    margin-bottom: 5%;
}

.bolinhas span{

    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: #DE4A66;
}

.bolinhas span.marcador{

   background-color: #FFADBD;
}

.fundo-slider{
    background-color: #fff;
    width: 60%;
    height: 60%;
    padding-top: 4%;
    padding-bottom: 2%;
    border-radius: 70px;
    margin: auto;
}

.text-div-for{
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
    text-align: justify;
    color: #446900;
}

footer{
    background-color: #EEFFD3;
    width: 100%;
}

.content-footer{
    width: 110px;
    padding: 15px 0px 15px 0px;
    margin: auto;
}
.logo-moranguinho{
    width: 110px;
}