@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Be+Vietnam+Pro:wght@300;400&family=Fredoka+One&family=Fredoka:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(116.34deg, #FFDDE4 10.06%, #FFFFFF 96.59%);
    font-family: 'Fredoka', sans-serif;
    height: 100vh;
}

/* fundo branco */
#fundo{
    position: absolute;
    width: 90%;
    height: 1000px;
    margin-left: 5%;
    margin-top: 13%;
    margin-bottom: 206px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(69, 69, 69, 0.25);
    border-radius: 33px;
}

/*titulo carrinho*/
#fundo > h4{
    background-color: #DE4A66;
    border-radius: 47.5px;
    position: absolute;
    width: 210px;
    height: 50px;
    margin-left: 40%;
    margin-top: 50px;
    vertical-align: top;
    padding-left: 65px;
    padding-top: 6px;
    color:#fff;
    font-size: 35px;
}

#linha-tb{
    background-color:#FD879D;
    width: 67%;
    height: 60px;
    margin-left: 17%;
    margin-top: 13%;
    border-radius: 8px;
}

.prod{ 
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 60%;
    float: left;
}

.qt{
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
    margin-right: 10%;
}

.vl{
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    /* position: absolute; */
}

hr {
	border: 0;
	border-top: 1px solid #BCBCBC;
    margin: 50px 17%;
}

.produtos{
    box-sizing: border-box;
    /* position: absolute; */
    width: 67%;
    height: 160px;
    margin-left: 17%;
    margin-top: 60px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 17px;
    flex-direction: column;
}

.excluir{
    position: absolute;
    margin-top: 60px;
    margin-left: 5%;
    background-color: #87182C;
    color: #fff;
    padding: 5px 15px 5px 15px;
    border: solid #87182C 1px;
    border-radius: 34.5px;
    transition: all 0.3s ease 0s;
    font-family: 'Fredoka';
    height: 40px;
    display:inline;
}

.excluir:hover{
    background-color: #FD879D;
    color: #DE4A66;;
    border: solid #FD879D 1px;
}

.container-total{
    box-sizing: border-box;
    width: 67%;
    height: 100px;
    margin-left: 17%;  
    border: 1px solid #BCBCBC;
    border-radius: 12px;
}

/* titulo valor total */
.container-total > h2{
    margin-top: 20%;
    margin-left: 10%;
    padding-right: 60%;
    /* padding-top: 1000px; */
    display: inline;
}

/* preço final*/
.container-total > h3{
    display: inline;
}

.imagem-produto-card{
    position: absolute;
    margin-top: 2.5%;
    margin-left: 10%;
    width: 150px;
    height: 110px;
    overflow: hidden;
    display:inline;
}

/* Titulo bolo */
.produtos > h2{
    position: absolute;
    margin-top: 4%;
    margin-left: 25%;
    width: 150px;
    height: 110px;
    display: inline;
    /* overflow: hidden; */
}

.produtos > h3{
    padding-left: 35px;
    display: inline;
}

.produtos > p{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

#btn-compra{
    padding: 5px 15px 5px 15px;
    border: solid #84C703 1px;
    background-color: #84C703;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    font-family: 'Fredoka';
    font-size: 20px;
    margin-left: 65.5%;
    width: 250px;
    height: 60px;
    color: #fff;
    margin-top: 3%;
}

#btn-compra:hover{
    background-color: #FD879D;
    color: #DE4A66;
    border: solid #FD879D 1px;
}

.btn1{
    padding: 5px 15px 5px 15px;
    border: solid #BCBCBC 1px;
    background-color: #BCBCBC;
    border-radius: 34.5px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    font-family: 'Fredoka';
    height: 40px;
    color: #fff;
    margin-top: 60px;
    margin-left: 65%;
    display: inline;
}

.btn1:hover{
    background-color: #FD879D;
    color: #fff;
    border: solid #FD879D 1px;
}

.btn2{
    padding: 5px 15px 5px 15px;
    border: solid #BCBCBC 1px;
    background-color: #BCBCBC;
    border-radius: 34.5px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    font-family: 'Fredoka';
    height: 40px;
    color: #fff;
    display: inline;
    margin-top: 10px;
}

.btn2:hover{
    background-color: #FD879D;
    color: #fff;
    border: solid #FD879D 1px;
}

footer{ 
    background-color: #EEFFD3;;
    width: 100%;
    height: 90px;
    margin-top:1100px;
}

.logo-moranguinho{
    width: 110px;
    height: 65px;
    position: absolute;
    margin-top: 25px;
    left: 48%; 
    /* margin: 35px 200px 0 855px; */
}


