@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Be+Vietnam+Pro:wght@100;200;300;400;500&family=Fredoka+One&family=Fredoka:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fundo-produto-body: #FFEDF0;
    --fundo-sessao-produto: #fff;
    --titulo-produtos-carrinho: #DE4A66;
    --letra-titulo: #fff;
    --paragrafo: #000000;
    --box-produto: #ffffff;
    --footer: #E9FFC7;
    --cinza--escuro: #3A3A3A;
    --rosinha: #FD879D;
    --fundo-botao-excluir: #87182C;
    --fonte-botao-excluir: #ffffff;
    --fundo-finalizar-compra: #84C703;
    --fonte-finalizar-compra: #ffffff;
}

html[data-theme='dark']{
    --fundo-produto-body: #702935;
    --fundo-sessao-produto: #511d26;
    --titulo-produtos-carrinho: #FFFFFF;
    --letra-titulo: #87182C;
    --paragrafo: #FFFFFF;
    --cinza--escuro: #3A3A3A;
    --box-produto: #3A3A3A;
    --footer: #192600;
    --fundo-botao-excluir: #B5495D;
    --fonte-botao-excluir: #ffffff;
    --fundo-finalizar-compra: #84C703;
    --fonte-finalizar-compra: #ffffff;
}

body{
    background-color:var(--fundo-produto-body);
    font-family: 'Fredoka', sans-serif;
    height: 100vh;
}

.divisor{
    height: 140px;
}

.intro-produto{
    background-color: var(--fundo-sessao-produto);
    width: 90vw;
    margin: auto;
    border-radius: 33px;
    margin-bottom: 60px;
    box-shadow: 0px 4px 24px rgba(69, 69, 69, 0.25)
}

/* titulo produtos e carrinho */
.title-content-produtos{
    background-color:var(--titulo-produtos-carrinho);
    padding: 0.5em 2em 0.5em 2em;
    width: 4.4em;
    margin: auto;
    font-size: 2rem;
    border-radius: 40px;
    font-family: 'Fredoka';
    font-weight: 600;
    color: var(--letra-titulo);
}

.title-conjunto{
    padding: 49px;
}

.title-conjunto p{
    font-family: 'Fredoka';
    padding-top: 40px;
    width: 45.5rem;
    font-size: 1.3rem;
    margin: auto;
    color: var(--paragrafo);
}

input[type="button"]{
    color: var(--color-pink-vibes);
    background-color: var(--color-white);
    padding: 0.5em 2em 0.5em 2em;
    font-family: 'Fredoka';
    font-weight: 400;
    font-size: 1.2rem;
    border: 1px solid var(--color-pink-vibes);
    border-radius: 30px;
    margin: 0px 20px 0px 20px;
}

input[type="button"]:active{
    background-color: var(--color-pink-vibes);
    color: var(--color-white);
}

.content-produto-section{
    width: 82rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.card-produto{
    height: 27em;
    width: 18rem;
    background-color: var(--color-baby-green);
    /* position: relative; */
    border-radius: 15px;
    margin: 20px;
    filter:  drop-shadow(0px 4px 8px rgba(20, 20, 20, 0.15));
}

.info-produto-card{
    background-color: var(--box-produto);
    width: 18rem;
    height: 310px;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
}

.info-produto-card img{
    width: 100%;
}

.imagem-produto-card{
    position: absolute;
    top: -85px;
    margin: auto;
    left: 7%;
    width: 248px;
    height: 179px;
    overflow: hidden;
}

.info-produto-card-content{
    position: absolute;
    bottom: 25px;
    left: 5.9%;
    text-align: center;
    font-family: 'Be Vietnam Pro';
}

.info-produto-card input[type="button"]{
    background-color: var(--color-pink-vibes);
    color: var(--color-white);
    padding: 0.3em 1.4em 0.3em 1.4em;
    font-weight: 200;
    font-family: 'Be Vietnam Pro';
    margin: 0;
}

.info-produto-card-content h2{
    width: 252px;
    font-weight: 300;
    color: var(--paragrafo);
}


.info-produto-card-content h3{
    font-weight: 500;
    font-size: 0.8rem;
    width: 252px;
    color: var(--paragrafo);
}

.info-produto-card-content p{
    color: var(--cinza-escuro);
    padding: 20px;
    font-size: 1.6rem;
    color: var(--paragrafo);
}

span{
    font-size: 0.9rem;
}

footer{
    background-color: var(--footer);
    width: 100%;
}

.content-footer{
    width: 110px;
    padding: 15px 0px 15px 0px;
    margin: auto;
}
.logo-moranguinho{
    width: 110px;
}

/* carrinho */
#linha-tb{
    background-color: var(--rosinha);
    width: 67%;
    height: 60px;
    margin-left: 17%;
    margin-top: 13%;
    border-radius: 8px;
}

hr {
	border: 0;
	border-top: 1px solid var(--paragrafo);
    margin-top: 91px;
    margin-left: 15%;
    width: 700px;

}

#btn-compra{
    padding: 5px 15px 5px 15px;
    border: solid var(--fundo-finalizar-compra) 1px;
    background-color: var(--fundo-finalizar-compra);
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    font-family: 'Fredoka';
    font-size: 20px;
    margin-left: 80%;
    width: 200px;
    height: 50px;
    color: var(--fonte-finalizar-compra);
    margin-top: 3%;
}

#btn-compra a{
    text-decoration: none;
    color: #FFEDF0;
}

.excluir{
    position: absolute;
    margin-top: 60px;
    margin-left: 3.5%;
    background-color: var(--fundo-botao-excluir);
    color: var(--fonte-botao-excluir);
    padding: 5px 15px 5px 15px;
    border: solid var(--fundo-botao-excluir) 1px;
    border-radius: 34.5px;
    transition: all 0.3s ease 0s;
    font-family: 'Fredoka';
    height: 40px;
    display:inline;
}

.carrinho2{
    box-sizing: border-box;
    width: 67%;
    height: 160px;
    margin-top: 40px;
    margin-bottom: 60px;
    flex-direction: column;
    background-color: var(--fundo-sessao-produto);
    color: var(--paragrafo);
}

/* Titulo bolo */
.carrinho2 > h2{
    position: absolute;
    margin-top: 5%;
    margin-left: 22%;
    display: inline;
    font-weight: 400;
}

/* quantidade */
.carrinho2 > p{
    position: absolute;
    display: inline;
    padding-top: 5.2%;
    margin-left: 37%;
    padding-right: 20px;
} 
.carrinho2 > h3{
    font-weight: 400;
    padding-top: 9.3%;
    margin-left: 84%;
    padding-right: 20px;
} 

.img-produto-card{
    position: absolute;
    margin-top: 2.5%;
    margin-left: 9%;
    width: 160px;
    height: 110px;
    overflow: hidden;
    display:inline;
}

#botao-carrinho-produto{
    background-color:var(--color-pink-vibes);
    border: solid var(--color-pink-vibes) 1px;
    text-decoration: none;
    padding: 0.5em 2em 0.5em 2em;
    margin: auto;
    border-radius: 40px;
    font-family: 'Fredoka';
    color: var(--color-white);
}

#botao-carrinho-produto a{
    text-decoration: none;
    color: var(--color-white);
}

#produtos{
    max-width: 900px;
    padding: 0 2%;
    display: flex;
}