* {
    padding: 0;
    margin: 0;
}

:root{
    --color-pink-vibes: #DE4A66;
    --color-white: #fff;
    --color-baby-green: #E9FFC7;
}

.menu{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.2s ease-out;
}

.main-content{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9rem 0.5rem 9rem;
}

.menu h1 img{
    width: 6rem;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    position: relative;
    padding: 3rem;
    font-family: 'Fredoka One', cursive;
    font-size: 1.1rem;
    color: var(--color-pink-vibes);

}

.menuAlterado{
    background-color: #FFEDF0;
    box-shadow: 0px 4px 18px 0px #BCBCBC7A;
}

.switch-dark-theme{
    display: flex;
    align-items: center;
}

.switch-dark-theme img{
    width: 20px;
    margin: 0px 20px 0px 20px;
}

.switch{
    display: inline-block;
    height: 26px;
    position: relative;
    width: 52px;
}

.switch input{
    display: none;
}

.slider-switch{
    background-color: var(--color-white);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border: 1px solid #ffc7d2;
}

.slider-switch:before{
    background-color: var(--color-pink-vibes);
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider-switch{
    background-color: var(--color-pink-vibes);
}

input:checked + .slider-switch:before{
    transform: translateX(26px);
    background-color: #fff;
}

.slider-switch.round {
    border-radius: 34px;
}


.slider-switch.round:before {
    border-radius: 50%;
}


.carrinho-icon img {
    width: 2.4rem;
}